# Configuración del servidor
SERVER_URL=http://localhost:3000

#base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
PORT=

#token
JWT_SECRET=
JWT_EXPIRATION_TIME= 

#seed configuración roles
SEED_ROLE_ADMIN=

# Seed configuración usuario
SEED_ADMIN_NOMBRE= 
SEED_ADMIN_APELLIDO=
SEED_ADMIN_EDAD=
SEED_ADMIN_CEDULA=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
SEED_ADMIN_TELEFONO=

# Variables para recuperar contraseña
EMAIL_USER=
EMAIL_PASSWORD=